#a{
  background-image: url("../image/backgrounds/landing.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom:10px;

}

}
#b{
  background-image: url("../image/backgrounds/");
  background-position: center;
  background-size: cover;

}
#c{
  background-image: url("../image/backgrounds/");
  background-position: center;
  background-size: cover;

}
#d{
  background-image: url("../image/backgrounds/");
  background-position: center;
  background-size: cover;

}
#e{
  background-image: url("../image/backgrounds/foodsBg.jpg");
  background-position: center;
  background-size: cover;

}
#f{
  background-image: url("../image/backgrounds/");
  background-position: center;
  background-size: cover;

}
#g{
  background-image: url("../image/backgrounds/subscribe.jpg");

  background-size: cover;

}
.img{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

}

}
h2{
  color: white;
}
#happyhour{
    background-color: grey;
    padding:18px;

}
#partytime{
    background-color: red;
      padding: 18px;
}
#break{
      background-image: url("../image/foodtop/breakfast.jpg");
      text-align: center;
      padding-bottom: 130px;
}
#lunch{
      background-image: url("../image/foodtop/lunch.jpg");
      text-align: center;
      padding-bottom: 10px;
}
#dinner{
    background-image: url("../image/foodtop/dinner.jpg");
    text-align: center;
    padding-bottom: 130px;

}
