#a{
  background-image: url("../image/backgrounds/landing.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom:10px;

}

.img{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

}
h2{
  color: white;
}

.text{
    align-items: justify;
    color:white;
}
#text{
  align:center;
  margin-left: 450px;
  color: white;
  font-size: 350%;
}

#happyhour{
    background-color: grey;
    padding:30px;

}
#partytime{
    background-color: red;
      padding: 20px;
      padding-bottom: 30px;
}
#break{
      background-image: url("../image/foodtop/breakfast.jpg");
      text-align: center;
      padding-bottom: 130px;
}
#lunch{
      background-image: url("../image/foodtop/lunch.jpg");
      text-align: center;
      padding-bottom: 10px;
}
#dinner{
    background-image: url("../image/foodtop/dinner.jpg");
    text-align: center;
    padding-bottom: 130px;

}
#image{
  margin-left: 200px;
}
#image0{
  box-shadow: 10px 10px grey;
}
#font{
  font-size: 100%;
}
#Image{
  margin-left: 200px;
}
#bar{
  background-image: url("../image/backgrounds/foodsBg.jpg");
}

  #subscribe{
    background-image: url("../image/backgrounds/subscribe.jpg");

  }

h4 {color: green;
}
h5 {color: white;
  align-self: center;
}
.text{
    align-items: justify;
    color:white;
}
