#a{
  background-image: url("../image/backgrounds/landing.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom:10px;

}

.img{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

}
h2{
  color: white;
}

.text{
    align-items: justify;
    color:white;
}
#text{
  align:center;
  margin-left: 450px;
  color: white;
  font-size: 350%;
}

#happyhour{
    background-color: grey;
    padding:30px;

}
#partytime{
    background-color: red;
      padding: 20px;
      padding-bottom: 30px;

}
#break{
      background-image: url("../image/foodtop/breakfast.jpg");
      text-align: center;
      padding-bottom: 80px;
      padding-top: 80px;
}
#lunch{
      background-image: url("../image/foodtop/lunch.jpg");
      text-align: center;
      padding-bottom: 80px;
      padding-top: 80px;
}
#dinner{
    background-image: url("../image/foodtop/dinner.jpg");
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;

}
#image{
  margin-left: 200px;
}
#image0{
  box-shadow: 10px 10px grey;
}
#font{
  font-size: 100%;
}
#Image{
  margin-left: 100px;
  margin-right: 100px;
}
#bar{
  background-image: url("../image/backgrounds/foodsBg.jpg");
}

  #subscribe{
    background-image: url("../image/backgrounds/subscribe.jpg");

  }

h4 {color: #F15A29;
}
h5 {color: white;
  align-self: center;
}
.text{
    align-items: justify;
    color:white;
}
#endpage{
  background-color: #EF6E19;
}
.button-secondary3{
  font-size: 14px 40px;
  padding: 14px 40px;
  border-radius: 2px;
  background-color: white;
  color:black;
  border:2px solid #F15A29:

}
#image1,#image2{
  box-shadow: 0 0  20px;
}
#e{
    box-shadow: 0 0  20px;

}
.button-secondary3{

}
